In [30]:
import pandas as pd
from scipy import stats
pd.set_option('display.max_columns', None)
df = pd.read_csv("dataset1/games.csv")
df['won'] = df['winner'].apply(lambda x: 1 if x == 1 else 0)
df = df[['won', 'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron', 'firstDragon', 'firstRiftHerald', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills', 't1_dragonKills', 't1_riftHeraldKills', 't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills', 't2_riftHeraldKills']].copy()
df

,won,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,t1_towerKills,t1_inhibitorKills,t1_baronKills,t1_dragonKills,t1_riftHeraldKills,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills
0,1,2,1,1,1,1,2,11,1,2,3,0,5,0,0,1,1
1,1,1,1,1,0,1,1,10,4,0,2,1,2,0,0,0,0
2,1,2,1,1,1,2,0,8,1,1,1,0,2,0,0,1,0
3,1,1,1,1,1,1,0,9,2,1,2,0,0,0,0,0,0
4,1,2,1,1,1,1,0,9,2,1,3,0,3,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51485,0,1,2,2,0,2,0,2,0,0,0,0,10,2,0,4,0
51486,0,1,1,2,2,2,2,5,4,0,2,0,11,7,4,4,1
51487,0,2,2,2,0,1,0,0,0,0,1,0,10,2,0,2,0
51488,0,2,2,2,0,2,0,0,0,0,0,0,11,3,0,1,0
51489,1,1,1,1,1,2,0,11,3,1,2,0,1,0,0,1,0

### Hypothesis: First blood has a stronger correlation with winning the game than securing first dragon
Null hypothesis: Securing first dragon has an equal or stronger correlation with winning the game than first blood.

In [64]:
# Create groups based on firstDragon and firstBlood
dragon_wins = df[df['firstDragon'] == 1]['won']  # Check if Team 1 won when they got first dragon
blood_wins = df[df['firstBlood'] == 1]['won']  # Check if Team 1 won when they got first blood

# Perform two-sample T-test
t_stat, p_value = stats.ttest_ind(blood_wins, dragon_wins)

# For one-sided test, we check if first blood win rate > first dragon win rate
# Divide p-value by 2 for one-sided test and check if t-statistic is positive
one_sided_p_value = p_value / 2 if t_stat > 0 else 1 - (p_value / 2)

# Display the result
print(f"One-Sided T-statistic: {t_stat}, One-Sided P-value: {one_sided_p_value}")

if one_sided_p_value < 0.05:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

One-Sided T-statistic: -21.486116090539383, One-Sided P-value: 1.0
Fail to reject the null hypothesis.

### Hypothesis: Securing the first Baron Nashor has a stronger correlation with winning than securing the first tower.
Null hypothesis: Securing first tower has an equal or stronger correlation with winning the game than taking first baron.

In [63]:
# Create groups based on firstDragon and firstBlood
baron_wins = df[df['firstBaron'] == 1]['won']  # Check if Team 1 won when they got first dragon
tower_wins = df[df['firstTower'] == 1]['won']  # Check if Team 1 won when they got first blood

# Perform two-sample T-test
t_stat, p_value = stats.ttest_ind(baron_wins, tower_wins)

# For one-sided test, we check if first blood win rate > first dragon win rate
# Divide p-value by 2 for one-sided test and check if t-statistic is positive
one_sided_p_value = p_value / 2 if t_stat > 0 else 1 - (p_value / 2)

# Display the result
print(f"One-Sided T-statistic: {t_stat}, One-Sided P-value: {one_sided_p_value}")

if one_sided_p_value < 0.05:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

One-Sided T-statistic: 23.13394825062882, One-Sided P-value: 6.093847312221258e-118
Reject the null hypothesis.

### Hypothesis: Taking 3+ towers has a stronger correlation with winning than securing the 2+ dragons.
Null hypothesis: Securing 2 or more dragons has an equal or stronger correlation with winning the game than taking 3 or more towers.

In [62]:
# Create groups for games where Team 1 secured 3 or more towers
tower_wins = df[(df['t1_towerKills'] >= 3)]['won']  # Wins with 3+ towers

# Create groups for games where Team 1 secured 2 or more dragons
dragon_wins = df[(df['t1_dragonKills'] >= 2)]['won']  # Wins with 2+ dragons

# Perform two-sample T-test (two-sided by default)
t_stat, p_value = stats.ttest_ind(tower_wins, dragon_wins)

# Display the result
print(f"Two-Sided T-statistic: {t_stat}, Two-Sided P-value: {p_value}")

one_sided_p_value = p_value / 2 if t_stat > 0 else 1 - (p_value / 2)


if one_sided_p_value < 0.05:
    print("Reject the null hypothesis.")
else:
    print("Fail to reject the null hypothesis.")

Two-Sided T-statistic: -21.146466999032878, Two-Sided P-value: 6.878731440200729e-99
Fail to reject the null hypothesis.